In [35]:
%pylab inline
%matplotlib inline

import os
import csv
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/")

In [13]:
dfSentGW4 = pd.read_csv("GW4.csv", header=None, names=['Home', 'Away', 
                                                       'home_pos', 'home_neg',
                                                       'away_pos', 'away_neg'])
dfSentGW4

          Home          Away  home_pos  home_neg  away_pos  away_neg
0    Newcastle       Arsenal      2562      3695      3445      3216
1        Villa    Sunderland       408       220         2         2
2  Bournemouth     Leicester       456       374       186       163
3      Chelsea       Crystal      2725      1625       233       245
4    Liverpool       WestHam      4477      4144      1125       486
5         City       Watford      1921       433       172       189
6        Stoke  WestBromwich       284       844       177       229
7  Southampton       Norwich      1073       733       778       856
8      Swansea        United       758       528     12570     11783

In [36]:
z = dfSentGW4.copy()
z['home_pos %'] = z['home_pos'] / (z['home_pos'] + z['home_neg'])
z['home_neg %'] = z['home_neg'] / (z['home_pos'] + z['home_neg'])
z['away_pos %'] = z['away_pos'] / (z['away_pos'] + z['away_neg'])
z['away_neg %'] = z['away_neg'] / (z['away_pos'] + z['away_neg'])
z.iloc[:,[0,1,6,7,8,9]]

          Home          Away  home_pos %  home_neg %  away_pos %  away_neg %
0    Newcastle       Arsenal    0.409461    0.590539    0.517190    0.482810
1        Villa    Sunderland    0.649682    0.350318    0.500000    0.500000
2  Bournemouth     Leicester    0.549398    0.450602    0.532951    0.467049
3      Chelsea       Crystal    0.626437    0.373563    0.487448    0.512552
4    Liverpool       WestHam    0.519313    0.480687    0.698324    0.301676
5         City       Watford    0.816058    0.183942    0.476454    0.523546
6        Stoke  WestBromwich    0.251773    0.748227    0.435961    0.564039
7  Southampton       Norwich    0.594131    0.405869    0.476132    0.523868
8      Swansea        United    0.589425    0.410575    0.516158    0.483842

In [37]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/MatchResults/")
dfMatchGW4 = pd.read_csv("GW4.csv", header=None, names=['Home', 'Away', 
                                                       'home_HT G', 'away_HT G',
                                                       'home_FG G', 'away_FT G'])
dfMatchGW4

          Home          Away  home_HT G  away_HT G  home_FG G  away_FT G
0    Newcastle       Arsenal          0          0          0          1
1        Villa    Sunderland          2          1          2          2
2  Bournemouth     Leicester          1          0          1          1
3      Chelsea       Crystal          0          0          1          2
4    Liverpool       WestHam          0          2          0          3
5         City       Watford          0          0          2          0
6        Stoke  WestBromwich          0          1          0          1
7  Southampton       Norwich          1          0          3          0
8      Swansea        United          0          0          2          1