In [1]:
%pylab inline
%matplotlib inline

import os
import csv
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Return pos & neg's '%' dataframe
def dfSentPercent(dfSent):
    dfPer = dfSent.copy()
    dfPer['home_pos %'] = dfPer['home_pos'] / (dfPer['home_pos'] + dfPer['home_neg'])
    dfPer['home_neg %'] = dfPer['home_neg'] / (dfPer['home_pos'] + dfPer['home_neg'])
    dfPer['away_pos %'] = dfPer['away_pos'] / (dfPer['away_pos'] + dfPer['away_neg'])
    dfPer['away_neg %'] = dfPer['away_neg'] / (dfPer['away_pos'] + dfPer['away_neg'])
    return dfPer.iloc[:,[0,1,6,7,8,9]]

## Game Week 4

In [8]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/")
dfSentGW4 = pd.read_csv("GW4.csv", header=None, names=['Home', 'Away', 
                                                       'home_pos', 'home_neg',
                                                       'away_pos', 'away_neg'])
print("Sentiment Analysis Result")
dfSentGW4

Sentiment Analysis Result

          Home          Away  home_pos  home_neg  away_pos  away_neg
0    Newcastle       Arsenal      2562      3695      3445      3216
1        Villa    Sunderland       408       220         2         2
2  Bournemouth     Leicester       456       374       186       163
3      Chelsea       Crystal      2725      1625       233       245
4    Liverpool       WestHam      4477      4144      1125       486
5         City       Watford      1921       433       172       189
6        Stoke  WestBromwich       284       844       177       229
7  Southampton       Norwich      1073       733       778       856
8      Swansea        United       758       528     12570     11783

In [9]:
print("Sentiment Result by %")
dfSentPercent(dfSentGW4)

Sentiment Result by %

          Home          Away  home_pos %  home_neg %  away_pos %  away_neg %
0    Newcastle       Arsenal    0.409461    0.590539    0.517190    0.482810
1        Villa    Sunderland    0.649682    0.350318    0.500000    0.500000
2  Bournemouth     Leicester    0.549398    0.450602    0.532951    0.467049
3      Chelsea       Crystal    0.626437    0.373563    0.487448    0.512552
4    Liverpool       WestHam    0.519313    0.480687    0.698324    0.301676
5         City       Watford    0.816058    0.183942    0.476454    0.523546
6        Stoke  WestBromwich    0.251773    0.748227    0.435961    0.564039
7  Southampton       Norwich    0.594131    0.405869    0.476132    0.523868
8      Swansea        United    0.589425    0.410575    0.516158    0.483842

In [10]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/MatchResults/")
dfMatchGW4 = pd.read_csv("GW4.csv", header=None, names=['Home', 'Away', 
                                                       'home_HT G', 'away_HT G',
                                                       'home_FG G', 'away_FT G'])
print("HALT & FULL time RESULTS")
dfMatchGW4

HALT & FULL time RESULTS

          Home          Away  home_HT G  away_HT G  home_FG G  away_FT G
0    Newcastle       Arsenal          0          0          0          1
1        Villa    Sunderland          2          1          2          2
2  Bournemouth     Leicester          1          0          1          1
3      Chelsea       Crystal          0          0          1          2
4    Liverpool       WestHam          0          2          0          3
5         City       Watford          0          0          2          0
6        Stoke  WestBromwich          0          1          0          1
7  Southampton       Norwich          1          0          3          0
8      Swansea        United          0          0          2          1

## Game Week 5

In [11]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/")
dfSentGW5 = pd.read_csv("GW5.csv", header=None, names=['Home', 'Away', 
                                                       'home_pos', 'home_neg',
                                                       'away_pos', 'away_neg'])
dfSentGW5

           Home         Away  home_pos  home_neg  away_pos  away_neg
0       Everton      Chelsea      1545      1485      5691      6104
1       Arsenal        Stoke      3676      2950       168       190
2       Crystal         City       295       239      1928      1158
3       Norwich  Bournemouth       327       195       135        80
4       Watford      Swansea        94       138        95       111
5  WestBromwich  Southampton       216       274       156       153
6        United    Liverpool     11399     14493      4620      6232
7    Sunderland    Tottenham       579       466      1485      1325
8     Leicester        Villa       280       247      1763       920
9       WestHam    Newcastle      1117       647      1429      1984

In [12]:
dfSentPercent(dfSentGW5)

           Home         Away  home_pos %  home_neg %  away_pos %  away_neg %
0       Everton      Chelsea    0.509901    0.490099    0.482493    0.517507
1       Arsenal        Stoke    0.554784    0.445216    0.469274    0.530726
2       Crystal         City    0.552434    0.447566    0.624757    0.375243
3       Norwich  Bournemouth    0.626437    0.373563    0.627907    0.372093
4       Watford      Swansea    0.405172    0.594828    0.461165    0.538835
5  WestBromwich  Southampton    0.440816    0.559184    0.504854    0.495146
6        United    Liverpool    0.440252    0.559748    0.425728    0.574272
7    Sunderland    Tottenham    0.554067    0.445933    0.528470    0.471530
8     Leicester        Villa    0.531309    0.468691    0.657100    0.342900
9       WestHam    Newcastle    0.633220    0.366780    0.418693    0.581307

In [13]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/MatchResults/")
dfMatchGW5 = pd.read_csv("GW5.csv", header=None, names=['Home', 'Away', 
                                                       'home_HT G', 'away_HT G',
                                                       'home_FG G', 'away_FT G'])
dfMatchGW5

           Home         Away  home_HT G  away_HT G  home_FG G  away_FT G
0       Everton      Chelsea          2          1          3          1
1       Arsenal        Stoke          1          0          2          0
2       Crystal         City          0          0          0          1
3       Norwich  Bournemouth          1          0          3          1
4       Watford      Swansea          0          0          1          0
5  WestBromwich  Southampton          0          0          0          0
6        United    Liverpool          0          0          3          1
7    Sunderland    Tottenham          0          0          0          1
8     Leicester        Villa          0          1          3          2
9       WestHam    Newcastle          1          0          2          0

## Game Week 6

In [14]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/")
dfSentGW6 = pd.read_csv("GW6.csv", header=None, names=['Home', 'Away', 
                                                       'home_pos', 'home_neg',
                                                       'away_pos', 'away_neg'])
dfSentGW6

          Home          Away  home_pos  home_neg  away_pos  away_neg
0      Chelsea       Arsenal      3733      3387      2569      2866
1        Villa  WestBromwich       337       429       237       222
2  Bournemouth    Sunderland       557       508       544       717
3    Newcastle       Watford      1726      2236       830       348
4        Stoke     Leicester       317       189       299       340
5      Swansea       Everton        91        55       448       145
6         City       WestHam      4397      2182      2120      2028
7    Tottenham       Crystal      1343       980        24        17
8    Liverpool       Norwich      4188      3681       173       257
9  Southampton        United       658       360     23996     14677

In [15]:
dfSentPercent(dfSentGW6)

          Home          Away  home_pos %  home_neg %  away_pos %  away_neg %
0      Chelsea       Arsenal    0.524298    0.475702    0.472677    0.527323
1        Villa  WestBromwich    0.439948    0.560052    0.516340    0.483660
2  Bournemouth    Sunderland    0.523005    0.476995    0.431404    0.568596
3    Newcastle       Watford    0.435639    0.564361    0.704584    0.295416
4        Stoke     Leicester    0.626482    0.373518    0.467919    0.532081
5      Swansea       Everton    0.623288    0.376712    0.755481    0.244519
6         City       WestHam    0.668339    0.331661    0.511090    0.488910
7    Tottenham       Crystal    0.578132    0.421868    0.585366    0.414634
8    Liverpool       Norwich    0.532215    0.467785    0.402326    0.597674
9  Southampton        United    0.646365    0.353635    0.620485    0.379515

In [16]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/MatchResults/")
dfMatchGW6 = pd.read_csv("GW6.csv", header=None, names=['Home', 'Away', 
                                                       'home_HT G', 'away_HT G',
                                                       'home_FG G', 'away_FT G'])
dfMatchGW6

          Home          Away  home_HT G  away_HT G  home_FG G  away_FT G
0      Chelsea       Arsenal          0          0          2          0
1        Villa  WestBromwich          0          1          0          1
2  Bournemouth    Sunderland          2          0          2          0
3    Newcastle       Watford          0          2          1          2
4        Stoke     Leicester          2          0          2          2
5      Swansea       Everton          0          0          0          0
6         City       WestHam          1          2          1          2
7    Tottenham       Crystal          0          0          1          0
8    Liverpool       Norwich          0          0          1          1
9  Southampton        United          1          1          2          3

## Game Week 7

In [17]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/")
dfSentGW7 = pd.read_csv("GW7.csv", header=None, names=['Home', 'Away', 
                                                       'home_pos', 'home_neg',
                                                       'away_pos', 'away_neg'])
dfSentGW7

           Home         Away  home_pos  home_neg  away_pos  away_neg
0     Tottenham         City      2456      2041      6043      1727
1     Leicester      Arsenal       337       256      3046      1724
2     Liverpool        Villa      4705      3804       692       597
3        United   Sunderland     15719     11581       201       251
4   Southampton      Swansea       271       248        86        54
5         Stoke  Bournemouth        92        68       132       288
6       WestHam      Norwich       383       326       260       245
7     Newcastle      Chelsea      2598      1576      2620      2370
8       Watford      Crystal       117        19        93        42
9  WestBromwich      Everton       347       296       578       470

In [18]:
dfSentPercent(dfSentGW7)

           Home         Away  home_pos %  home_neg %  away_pos %  away_neg %
0     Tottenham         City    0.546142    0.453858    0.777735    0.222265
1     Leicester      Arsenal    0.568297    0.431703    0.638574    0.361426
2     Liverpool        Villa    0.552944    0.447056    0.536850    0.463150
3        United   Sunderland    0.575788    0.424212    0.444690    0.555310
4   Southampton      Swansea    0.522158    0.477842    0.614286    0.385714
5         Stoke  Bournemouth    0.575000    0.425000    0.314286    0.685714
6       WestHam      Norwich    0.540197    0.459803    0.514851    0.485149
7     Newcastle      Chelsea    0.622425    0.377575    0.525050    0.474950
8       Watford      Crystal    0.860294    0.139706    0.688889    0.311111
9  WestBromwich      Everton    0.539658    0.460342    0.551527    0.448473

In [20]:
os.chdir("/Users/Bya/Dropbox/Research/datas/Results/MatchResults/")
dfMatchGW7 = pd.read_csv("GW7.csv", header=None, names=['Home', 'Away', 
                                                       'home_HT G', 'away_HT G',
                                                       'home_FG G', 'away_FT G'])
dfMatchGW7

           Home         Away  home_HT G  away_HT G  home_FG G  away_FT G
0     Tottenham         City          1          1          4          1
1     Leicester      Arsenal          1          2          2          5
2     Liverpool        Villa          1          0          3          2
3        United   Sunderland          1          0          3          0
4   Southampton      Swansea          1          0          3          1
5         Stoke  Bournemouth          1          0          2          1
6       WestHam      Norwich          1          1          2          2
7     Newcastle      Chelsea          1          0          2          2
8       Watford      Crystal          0          0          0          1
9  WestBromwich      Everton          1          0          2          3